body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
}

#menu-button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 3rem;
    height: 3rem;
    padding: 0;
}

#menu-button svg {
    width: 100%;
    height: 100%;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #f7f7f7;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

#sidebar.active {
    transform: translateX(0);
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#sidebar ul li a {
    color: #333;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #000;
}

#menu-button {
    width: 67px;
    height: 3rem;
    padding: 0;
    background-color: #333;
}

#menu-button svg {
    width: 100%;
    height: 100%;
}

header {
    background-color: #333;
}

header>h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.cv {
    color: #fff;
}

.c {
    color: black;
}

h1 {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

section {
    border: 2px dashed #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

.meme-gallery {
    display: flex;
    flex-wrap: wrap-reverse;
}

img {
    margin: 5px;
    width: 300px;
    height: 168px;
    transition: transform 0.25s;

}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.auto {
    cursor: auto;
}

.cursors {
    flex-wrap: wrap;
}

.cursors>div {
    flex: 150px;
    padding: 10px 2px;
    white-space: nowrap;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0 5px 5px 0;
}

.cursors>div:hover {
    background: #eee;
}

.men {
    border: 1px solid #333;
    background-color: #333;
}

.men div {
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.men div:hover {
    background-color: #272727;
}



.men {
    display: flex;
    flex-direction: row;
}


.photo {
    overflow: hidden;
}

.photo:hover img {
    transform: scale(1.1);
}

::selection {
    background-color: #febe98;
}

#content {
    margin-left: 200px;
    /* padding: 10px; */
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
    }

    #content {
        margin-left: 0;
    }
}